apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - gateway-class.yaml
  - envoy-proxy.yaml

namespace: envoy-gateway-system

helmCharts:
  - name: gateway-helm
    repo: oci://docker.io/envoyproxy
    version: 1.6.1
    releaseName: envoy-gateway
    includeCRDs: true
