apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../apps/cert-manager
  - ../../apps/cilium/
  - ../../apps/devices
  - ../../apps/envoy-gateway
  - ../../apps/external-dns
  - ../../apps/gateway
  - ../../apps/grafana
  - ../../apps/harbor
  - ../../apps/influxdb
  - ../../apps/kubernetes-replicator
  - ../../apps/nanomq
  - ../../apps/otaflux
  - ../../apps/synology-csi
  - ../../apps/torrents
  ## not used at this time
  # - ../../apps/mosquitto
  # - ../../apps/homeassistant
  # - ../../apps/n8n

patches:
  - path: ./letsencrypt.patch.yaml
    target:
      group: cert-manager.io
      version: v1
      kind: ClusterIssuer
      name: letsencrypt-production
  - path: ./letsencrypt.patch.yaml
    target:
      group: cert-manager.io
      version: v1
      kind: ClusterIssuer
      name: letsencrypt-staging

secretGenerator:
  - name: cloudflare-secrets
    namespace: cert-manager
    behavior: replace
    options:
      disableNameSuffixHash: true
    envs:
      - cloudflare-secrets.env.secret
  - name: cloudflare-secrets
    namespace: external-dns
    behavior: replace
    options:
      disableNameSuffixHash: true
    envs:
      - cloudflare-secrets.env.secret
  - name: client-info-secret
    namespace: synology-csi
    behavior: replace
    files:
      - client-info.yml=synalogy-client-info.yaml.secret
  - name: gluetun-secrets
    namespace: torrents
    behavior: replace
    envs:
      - gluetun.env.secret
  - name: qbittorrent-gluetun-config
    namespace: torrents
    behavior: replace
    files:
      - gluetun.toml=gluetun.toml.secret
  - name: qbittorrent-secrets
    namespace: torrents
    behavior: merge
    envs:
      - qbittorrent.env.secret
  - name: grafana-secrets
    namespace: grafana
    behavior: merge
    envs:
      - grafana-secrets.env.secret
  - name: telegraf-secrets
    namespace: influxdb
    behavior: merge
    envs:
      - ./telegraf-secrets.env.secret
  - name: influxdb-explorer-secrets
    namespace: influxdb
    behavior: merge
    envs:
      - ./influxdb-explorer-secrets.env.secret
  - name: nanomq-secrets
    namespace: nanomq
    behavior: replace
    files:
      - nanomq_pwd.conf=./nanomq_pwd.conf.secret
  - name: nanomq-environment-secrets
    namespace: nanomq
    behavior: merge
    envs:
      - ./nanomq.env.secret
  - name: otaflux
    namespace: otaflux
    behavior: merge
    envs:
      - ./otaflux-secrets.env.secret
  - name: otaflux-cosign-pub-key
    namespace: otaflux
    behavior: replace
    files:
      - cosign.pub=./cosign.pub.secret
