apiVersion: apps/v1
kind: Deployment
metadata:
  name: influxdb-core
spec:
  strategy:
    type: Recreate
  template:
    spec:
      serviceAccountName: influxdb-core
      initContainers:
        - name: fix-perms
          image: busybox
          command: ["sh", "-c", "chown -R 1500:1500 /data"]
          env:
            - name: INFLUXDB_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          envFrom:
            - secretRef:
                name: influxdb-admin-token
                optional: true
          volumeMounts:
            - mountPath: /data
              name: data
      containers:
        - name: influxdb-core
          image: influxdb:3.8.0-core
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8181
              name: http
              protocol: TCP
          args:
            - --node-id=node0
            - --object-store=file
            - --data-dir=/data
            - --http-bind=[::]:8181
          env:
            - name: INFLUXDB_KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          envFrom:
            - secretRef:
                name: influxdb-admin-token
                optional: true
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  # influxdb3 health endpoint require authentication so until
                  # fully initialized with admin token, we assume 401 is ok
                  url="http://[::1]:8181/health"
                  code=$(curl -s -o /dev/null -w "%{http_code}" "$url" || true)
                  [ "$code" -eq 200 ] || [ "$code" -eq 401 ]
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - |
                  # influxdb3 health endpoint require authentication so until
                  # fully initialized with admin token, we assume 401 is ok
                  url="http://[::1]:8181/health"
                  code=$(curl -s -o /dev/null -w "%{http_code}" "$url" || true)
                  [ "$code" -eq 200 ] || [ "$code" -eq 401 ]
          securityContext:
            runAsNonRoot: true
            runAsUser: 1500
            runAsGroup: 1500
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: influxdb-core-data
