machine:
  # specify installation disk
  install:
    disk: /dev/nvme0n1
    wipe: true

  # enable disk encryption
  systemDiskEncryption:
    ephemeral:
      provider: luks2
      keys:
        - slot: 0
          tpm: {}
    state:
      provider: luks2
      keys:
        - slot: 0
          tpm: {}

  certSANs:
    - 192.168.110.254
    - 2001:1c08:10f:3c02:4a21:bff:fe60:ee00

  kubelet:
    extraArgs:
      rotate-server-certificates: true

  udev:
    rules:
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
      - SUBSYSTEM=="drm", KERNEL=="card*", GROUP="44", MODE="0660"

cluster:
  # single node Kubernetes deployment
  allowSchedulingOnControlPlanes: true

  network:
    cni:
      # use Cilium CNI without kube-proxy
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - fd00:10::/64
      - 10.244.0.0/16
    serviceSubnets:
      - fd00:20::/108
      - 10.96.0.0/12

  apiServer:
    certSANs:
      - 192.168.110.254
      - 2001:1c08:10f:3c02:4a21:bff:fe60:ee00

  # install metrics-server
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
    - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

customization:
  systemExtensions:
    officialExtensions:
      - siderolabs/btrfs
      - siderolabs/i915
      - siderolabs/intel-ucode
      - siderolabs/iscsi-tools
      - siderolabs/mei
