expose:
  type: route
  route:
    hosts:
      - harbor.homie.e10n.me
    parentRefs:
      - name: eg
        sectionName: https
        namespace: gateway
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: wildcard-certificate

externalURL: https://harbor.homie.e10n.me

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      storageClass: syno-storage
      accessMode: ReadWriteOnce
      size: 5Gi
    database:
      storageClass: syno-storage
      accessMode: ReadWriteOnce
      size: 1Gi
    jobservice:
      jobLog:
        storageClass: syno-storage
        accessMode: ReadWriteOnce
        size: 1Gi
    redis:
      storageClass: syno-storage
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      storageClass: syno-storage
      accessMode: ReadWriteOnce
      size: 5Gi

harbor:
  registry:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
