apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - http-route.yaml
  - namespace.yaml
  - reference-grant.yaml

namespace: harbor

helmCharts:
  - name: harbor
    repo: https://helm.goharbor.io
    version: 1.18.0
    releaseName: harbor
    valuesFile: harbor-values.yaml
