apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
spec:
  strategy:
    type: RollingUpdate
  template:
    spec:
      serviceAccountName: flaresolverr
      containers:
        - name: flaresolverr
          image: ghcr.io/flaresolverr/flaresolverr:v3.4.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8191
              protocol: TCP
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 50m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            seccompProfile:
              type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
