apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackett
spec:
  strategy:
    type: RollingUpdate
  template:
    spec:
      serviceAccountName: jackett
      securityContext:
        fsGroup: 21
        fsGroupChangePolicy: "OnRootMismatch"
      containers:
        - name: jackett
          image: lscr.io/linuxserver/jackett:0.24.622
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9117
              protocol: TCP
          env:
            - name: UMASK_SET
              value: "022"
            - name: PUID
              value: "911"
            - name: PGID
              value: "911"
            - name: TZ
              value: "Europe/Amsterdam"
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 50m
              memory: 512Mi
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 0
            # capabilities:
            #   add:
            #     - SETGID
            #     - SETUID
            #   drop:
            #     - ALL
            # seccompProfile:
            #   type: RuntimeDefault
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads/torrents
              subPath: torrents
            - name: downloads
              mountPath: /downloads/movies
              subPath: movies
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jackett-config
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads
