apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - alerts/
  - dashboards/
  - http-route.yaml
  - namespace.yaml
  - reference-grant.yaml

namespace: grafana

secretGenerator:
  - name: grafana-secrets
    envs:
      - ./grafana-secrets.env

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 10.5.15
    releaseName: grafana
    valuesFile: grafana-values.yaml
