apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

namespace: kubernetes-replicator

helmCharts:
  - name: kubernetes-replicator
    repo: https://helm.mittwald.de
    version: 2.12.2
    releaseName: kubernetes-replicator

# inject namespace until this PR is merged: https://github.com/mittwald/kubernetes-replicator/pull/395
replacements:
  - source:
      kind: Namespace
      name: kubernetes-replicator
      fieldPath: metadata.name
    targets:
      - select:
          kind: Deployment
          name: kubernetes-replicator
        fieldPaths:
          - metadata.namespace
        options:
          create: true
      - select:
          kind: ServiceAccount
          name: kubernetes-replicator
        fieldPaths:
          - metadata.namespace
        options:
          create: true
