apiVersion: apps/v1
kind: Deployment
metadata:
  name: influxdb-explorer
spec:
  strategy:
    type: RollingUpdate
  template:
    spec:
      serviceAccountName: influxdb-explorer
      containers:
        - name: influxdb-explorer
          image: influxdata/influxdb3-ui:1.6.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          env:
            - name: DEFAULT_INFLUX_SERVER
              value: http://influxdb-core
            - name: DEFAULT_INFLUX_DATABASE
              value: sensors
            - name: DEFAULT_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: influxdb-admin-token
                  key: INFLUXDB3_AUTH_TOKEN
          envFrom:
            - secretRef:
                name: influxdb-explorer-secrets
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            runAsUser: 100
            runAsGroup: 101
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
              readOnly: true
            - name: db
              mountPath: /db
      volumes:
        - name: nginx-config
          configMap:
            name: influxdb-explorer-nginx-config
        - name: db
          emptyDir: {}
